@*This is based on the code provided by Gunner Piepman online at: https://gunnarpeipman.com/*@

@inherits PagerModel
@using Microsoft.AspNetCore.Components.Web

@if (NumberOfResults.HasValue && ResultsPerPage.HasValue)
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (PageCount > 1)
            {
                <ul class="pagination pull-right">
                    <li><button type="button" @onclick="() => PagerButtonClicked(1)" class="btn">&laquo;</button></li>
                    @for (var i = StartIndex; i <= FinishIndex; i++)
                    {
                        var currentIndex = i;
                        @if (i == CurrentPage)
                        {
                            <li><span class="btn btn-primary">@i</span></li>
                        }
                        else
                        {
                            <li><button type="button" @onclick="() => PagerButtonClicked(currentIndex)" class="btn">@i</button></li>
                        }
                    }
                    <li><button type="button" @onclick="() => PagerButtonClicked(PageCount)" class="btn">&raquo;</button></li>
                </ul>
            }
        </div>
    </div>
}

