<AuthorizeView>
    <div id="title-banner">
        <div class="main-banner-height">
            <div class="main-banner-title-content">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="main-title-product-name">
                            Clypeus
                        </div>
                        <div class="main-title-product-tagline">
                            Infection Investigation and Case Management Tool
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">

                        <div class="float-right">
                            <div class="main-title-user-name-section-right-margin main-title-product-tagline">
                                Logged on as: @context.User.Identity.Name
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</AuthorizeView>


