<AuthorizeView>
    <div id="title-banner">
        <div class="main-banner-height">
            <div class="main-banner-title-content">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="main-title-product-name">
                            Clypeus
                        </div>
                        <div class="main-title-product-tagline">
                            Infection Investigation and Case Management Tool
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">

                        <div class="float-right">
                            <div class="main-title-user-name-section-right-margin main-title-product-tagline">
                                Logged on as: @context.User.Identity.Name
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="menunavbar">
            <a href="#home">Home</a>
            <a href="#news">Recent Actions</a>

            <div class="menudropdown">
                <button class="menudropbtn">
                    Enquries
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="menudropdown-content ">
                    <div class="menurow">
                        <div class="container-fluid">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="sectionHeader">
                                    Enquries
                                </div>
                                <div class="sectionLink">
                                    Create a new Enquiry
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menudropdown">
                <button class="menudropbtn">
                    Reference Data
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="menudropdown-content ">
                    <div class="menurow">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="sectionHeader">
                                        Organisms
                                    </div>
                                    <div class="sectionLink">
                                        List
                                    </div>
                                </div>

                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="sectionHeader">
                                        Drugs
                                    </div>
                                    <div>
                                        <NavLink class="linkingElement" href="/referenceData/drugs">List</NavLink>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</AuthorizeView>


