$color-primary-0: #005640;
$color-primary-1: #21826A;
$color-primary-2: #0E6B54;
$color-primary-3: #003E2E;
$color-primary-4: #00231A;
$color-primary-6: #95B7AD;
$color-primary-7: #D8DDDC;
$color-primary-8: #A4B2AE;

