@font-face {
    font-family: RobotoThin;
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: RobotoThinItalic;
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: RobotoLightItalic;
    src: url(Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: RobotoRegular;
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: RobotoRegularItalic;
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: RobotoRegularItalic;
    src: url(fonts/Roboto-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: RobotoBoldItalic;
    src: url(fonts/Roboto-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: RobotoBlack;
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: RobotoBlackItalic;
    src: url(fonts/Roboto-BlackItalic.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}
