@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('blazorErrors.css');
@import "colors.scss";
@import url('fonts.css');
@import "menusStructure.scss";
@import "controlStyles/paginationControl.scss";

html, body {
    font-family: RobotoRegular,'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
}

h1 {
    font-family: RobotoBlack,'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:28px;
}