@page "/"
@inject Clypeus.Services.Interfaces.Medicinals.IDrugService drugService

    <div class="container">

       <Paging NumberOfResults=@Count ResultsPerPage="20" PageChanged="@PageChanged"></Paging>

        <h1>Drugs</h1>

        @if (drugs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1 col-md-1 col-lg-1">Code</th>
                        <th class="col-sm-2 col-md-2 col-lg-2">Atc</th>
                        <th class="col-sm-9 col-md-9 col-lg-9">Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var drug in drugs)
                    {
                        <tr>
                            <td>@drug.Code</td>
                            <td>@drug.AtcCode</td>
                            <td>@drug.Description</td>

                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>

@code {
    IEnumerable<Clypeus.DataTransfer.ViewModels.Reference.DrugsViewModel> drugs;

    public int Count = 0;

    protected override async Task OnInitializedAsync()
    {
        drugs = await drugService.GetDrugs();
        Count = drugs.Count();
    }

    protected void PageChanged(int p)
    {
        System.Diagnostics.Debug.WriteLine("User Has Clicked: " + p);
    }
}






